{% extends 'auth_base.html' %}
{% load widget_tweaks %}
{% block title %}Register{% endblock title %}

{% block content %}
    <div class="col-md-6 content">
        <div class="woocommerce-notices-wrapper"></div>
        <h6 class="font-weight-bold mb-4 text-center header_logo">LOGO here</h6>
        <hr class="mt-1 mb-1" />
        <h2 class="font-weight-bold mb-2 text-center header_title">Register {% if stage == '1' %} | About Me {% elif stage == '3' %}Activation Code{% else %}{% endif %}</h2>
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-danger" role="alert">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
        {% if not stage %}
            <form class="woocommerce-form woocommerce-form-login login" method="post"> {% csrf_token %}
                <div class="row">
                    <div class="col-6">
                        <p class="woocommerce-form-row woocommerce-form-row--wide form-row form-row-wide">
                            <label for="first_name">First Name</label>
                            {% render_field form.first_name class="woocommerce-Input woocommerce-Input--text input-text form-control" name="first_name" id="first_name" autocomplete="first_name" placeholder="First Name" %}
                        </p>
                    </div>
                    <div class="col-6">
                        <p class="woocommerce-form-row woocommerce-form-row--wide form-row form-row-wide">
                            <label for="user_last_name">Last Name</label>
                            {% render_field form.last_name class="woocommerce-Input woocommerce-Input--text input-text form-control" name="user_last_name" id="user_last_name" autocomplete="user_last_name" placeholder="Last Name" %}
                        </p>
                    </div>
                </div>
                <p class="woocommerce-form-row woocommerce-form-row--wide form-row form-row-wide">
                    <label for="email">Email</label>
                    {% render_field form.email class="woocommerce-Input woocommerce-Input--text input-text form-control" type="email" name="email" id="email" autocomplete="email" placeholder="Enter Email"  %}
                </p>
                <p class="woocommerce-form-row woocommerce-form-row--wide form-row form-row-wide">
                    <label for="password">Password</label>
                    {% render_field form.password class="woocommerce-Input woocommerce-Input--text input-text form-control" type="password" name="password" id="password" autocomplete="password" placeholder="Enter Password"  %}
                </p>
                <p class="woocommerce-form-row woocommerce-form-row--wide form-row form-row-wide">
                    <label for="confirm-password">Confirm Password</label>
                    {% render_field form.confirm_password class="woocommerce-Input woocommerce-Input--text input-text form-control" type="password" name="confirm-password" id="confirm-password" autocomplete="confirm-password" placeholder="Confirm Password"  %}
                </p>
                <div class="text-center">
                    <button type="submit" class="btn btn-primary login_btn" name="login" value="Log in">Register</button>
                    <div>
                        <p class="text_muted">
                            Already have an account?<a href="{% url 'login' %}"> <b>Sign Up</b></a>
                        </p>
                    </div>
                </div>
            </form>
        {% elif stage == '1' %}
            <form class="woocommerce-form woocommerce-form-login login" method="post"> {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-primary login_btn" name="login" value="Log in">Continue</button>
            </form>
        {% elif stage == '2' %}
            <form class="woocommerce-form woocommerce-form-login login" method="post"> {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-primary login_btn" name="login" value="Log in">Finish</button>
            </form>
        {% else %}
            <button type="submit" class="btn btn-primary login_btn" name="login" value="Log in">Return Home</button>
        {% endif %}
    </div>
{% endblock content %}