<header>
    <!-- Main Menu Start -->
    <div class="site-navigation main_menu menu-style-2" id="mainmenu-area">
        <nav class="navbar navbar-expand-lg">
            <div class="container">
                <a class="navbar-brand" href="index.html">
                    AWS City
                </a>

                <!-- Toggler -->

                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarMenu"
                    aria-controls="navbarMenu" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="fa fa-bars"></span>
                </button>
                
                <!-- Collapse -->
                <div class="collapse navbar-collapse" id="navbarMenu">
                    <div class="navigation">
                        <ul class="navbar-nav nav-mx">
                            <li class="nav-item ">
                                <a href="#" class="nav-link js-scroll-trigger">
                                    Product
                                </a>
                            </li>
                            <li class="nav-item ">
                                <a href="#" class="nav-link js-scroll-trigger">
                                    Plans
                                </a>
                            </li>
                            <li class="nav-item ">
                                <a href="#" class="nav-link js-scroll-trigger">
                                    Resources
                                </a>
                            </li>
                            <li class="nav-item ">
                                <a href="#" class="nav-link js-scroll-trigger">
                                    Partners
                                </a>
                            </li>
                        </ul>
                    </div>
                    <ul class="navbar-nav mx-auto">
                    </ul>
                    <div class="header-login">
                        <ul class="navbar-nav nav-mx">
                            <li class="nav-item">
                                <a href="{% url 'login' %}" class="btn btn-main btn-header" >Apply</a>
                            </li>
                            <li class="nav-item ">
                                <a href="{% url 'logout' %}" class="nav-link js-scroll-trigger">Support</a>
                            </li>
                            {% if stage == '1' %}
                                <li class="nav-item ">                            
                                    <a href="/auth/{{ slug }}/1" class="nav-link js-scroll-trigger">Complete Registration</a>
                                </li>
                            {% elif stage == '2' %}
                                <li class="nav-item ">
                                    <a href="/auth/{{ slug }}/2" class="nav-link js-scroll-trigger">Activate Account</a>
                                </li>
                            {% elif stage == '3' %}
                            {% else %}
                                {# comment <a href="{% url 'register' %}" class="btn btn-main btn-sm">Sign Up</a> #}
                            {% endif %}
                            <li class="nav-item ">
                                <a href="{% url 'logout' %}" class="nav-link js-scroll-trigger"><span><i class="fa fa-search"></i></span> Search </a>
                            </li>
                            <li class="nav-item ">
                                {% if user.is_authenticated %}<a href="{% url 'logout' %}" class="nav-link js-scroll-trigger"><span><i class="fa fa-user"></i></span> Sign Out</a>{% else %}<a href="{% url 'login' %}" class="nav-link js-scroll-trigger"><span><i class="far fa-user-circle"></i></span> Login</a>{% endif %}
                            </li>
                        </ul>
                    </div>
                </div> <!-- / .navbar-collapse -->
            </div> <!-- / .container -->
        </nav>
    </div>
</header>