{% extends 'base.html' %}
{% block css %}
<link rel="stylesheet" href="/static/css/workexprience.css">
{% endblock css %}
{% block content %}
<section class="work-header">
    <div class="contianer">
        <div class="row">
            <div class="col-md-7 col-xl-7">
                <div class="">
                    <div class="work-content text-left">
                        <h1>Assume the role of a Site Reliability Engineer </h1>
                        <p>Choose the right design processes in your toolkit to solve a real problem on a team in 8
                            weeks
                        </p>
                        <a href="#" class="btn apply-btn"><span class="fas fa-circle"></span>Apply today</a>
                    </div>
                </div>
            </div>
            <div class="col-md-5 col-xl-5">
                <div class="work-banner"></div>
            </div>
        </div>
    </div>
</section>


<section class="feature section-padding pb-1">
    <div class="container">
        <div class="row align-items-center justify-content-center">
            <div class="col-lg-7">
                <div class="section-heading center-heading">
                    <h3>Our 8-Weeks program</h3>
                    <p>Stemulating the real work environment, to give you the practical exprience you need to succeed in the role</p>
                </div>
            </div>
        </div>
        
    </div>
</section>
{% endblock content %}