{% extends 'form_layout.html' %}{% load static %}
{% block extrastyles %}
<link rel="stylesheet" type="text/css" href="{% static 'css/workexperience/form/first_form.css' %}" />

{% endblock %}
{% block form_content %}
<section class="step_form_section">
    <div class="container">
        <div class="top_header_section mt-lg-5 mb-lg-4 d-flex flex-row">
            <div class="header_section">
                <h3>Pick a Cloud platform you like</h3>
                <p>We'll use these as inspiration. These were all made with Looka.</p>
            </div>
            <button class="next_button">Continue <i class="fa fa-arrow-right"></i></button>
        </div>
        <div class="row">
            <div class="col-lg-4">
                <div class="cloud_i">
                    <div class="form-item cloud_platform">
                        <img data-cy="inspiration" class="cloud_platform_img"
                            src="https://s3.amazonaws.com/cdn-test.logojoy.com/assets/inspiration/new/26.png"
                            rel="inspiration" alt="" role="presentation">
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="cloud_i">
                    <div class="form-item cloud_platform">
                        <img data-cy="inspiration" class="cloud_platform_img"
                            src="https://s3.amazonaws.com/cdn-test.logojoy.com/assets/inspiration/new/26.png"
                            rel="inspiration" alt="" role="presentation">
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="cloud_i">
                    <div class="form-item cloud_platform">
                        <img data-cy="inspiration" class="cloud_platform_img"
                            src="https://s3.amazonaws.com/cdn-test.logojoy.com/assets/inspiration/new/26.png"
                            rel="inspiration" alt="" role="presentation">
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="cloud_i">
                    <div class="form-item cloud_platform">
                        <img data-cy="inspiration" class="cloud_platform_img"
                            src="https://s3.amazonaws.com/cdn-test.logojoy.com/assets/inspiration/new/26.png"
                            rel="inspiration" alt="" role="presentation">
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="cloud_i">
                    <div class="form-item cloud_platform">
                        <img data-cy="inspiration" class="cloud_platform_img"
                            src="https://s3.amazonaws.com/cdn-test.logojoy.com/assets/inspiration/new/26.png"
                            rel="inspiration" alt="" role="presentation">
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="cloud_i">
                    <div class="form-item cloud_platform">
                        <img data-cy="inspiration" class="cloud_platform_img"
                            src="https://s3.amazonaws.com/cdn-test.logojoy.com/assets/inspiration/new/26.png"
                            rel="inspiration" alt="" role="presentation">
                    </div>
                </div>
            </div>

        </div>
</section>
{% endblock %}

{% block extrascript %}
<script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
{% endblock extrascript %}